<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huang.oa.mapper.WorkGroupMapper">


    <insert id="insertAll" useGeneratedKeys="true" keyProperty="groupId">
        insert into work_groups (department_id, group_name, leader_id) VALUES
        (#{departmentId},#{groupName},#{leaderId})
    </insert>
</mapper>